HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/no
build/

### VS Code ###
.vscode/

### Node module ###
node_modules/
node/


# e2e
e2e/*.js
e2e/*.map

# System Files
.DS_Store
Thumbs.db
ui-src/
*.log

## docker files
docker/jenkins-data/
docker/keycloak-data/
docker/pgadmin-data
docker/postgres-data
